<p id="notice"><%= notice %></p>


<h1>Notes</h1>
<%= link_to 'New Note', new_note_path, class:"btn btn-primary"%>

<div class="card">
  <div class="card-header" style="justify-content:center">
    <% @notes.each do |note| %>
    <%= link_to note do %>
      <h2><%= note.title %></h2>
      <hr>
      <%end%>
    <% end %>
  </div>
</div>

<br>


