<div class='card'>
    <center>
        <h1>New assignment</h1>
        
        <%= render 'form' %>
        
        <%= link_to 'Back', url_for(:back), class: 'btn btn-primary' %>
    </center>
</div>