body {
    background-color: "white";
}

.topcorner{
    position: absolute;
    top: 10px;
    right: 10px;
 }
 
 .column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.assignment {
    vertical-align: middle;
    margin-top: 40px;
    margin-bottom: 40px;
}

.pomo {
    width: 960;
    height: 660;
}


.background {
    background: linear-gradient(#F67570, #FFD7B1);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;
}


body{
  font-family: 'Nunito', sans-serif;
  padding: 50px;
}

.card {
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
}

.card-fancy{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
     padding: 14px 80px 18px 36px;
     cursor: pointer;
}

.card-fancy:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}


@media(max-width: 990px){
  .card-fancy{
    margin: 20px;
  }
} 

#movable {
   position: absolute;
}

#movable2 {
    position: absolute;
}

#movable3{
    position: absolute;
}

#movableclick {
    cursor: move;
}

.handle {
  width: 558px;
  background: #ccc;
  border: 1px solid #000;
  border-radius: 4px;
  height: 23px;
  margin-bottom: -3px;
}

.frameOverlay {
  height: 100%;
  width: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.notes {
    width: 558px;
    height: 315px;
}


.fill {
    width: 1000px;
    height: 1500px;
}