body {
    background-color: "white";
}

.topcorner{
    position: absolute;
    top: 10px;
    right: 10px;
 }
 
 .column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.assignment {
    vertical-align: middle;
    margin-top: 40px;
    margin-bottom: 40px;
}

.pomo {
    width: 960;
    height: 660;
}

.start {
    width: 120px;
    height: 45px;
    
}