<div>
    <center>
        <h1>New Course</h1>
        
        <%= render 'form', course: @course %>
        
        <%= link_to 'Back', url_for(:back), class: 'btn btn-primary' %>
    </center>
</div>
